<main>
    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">third title</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-danger">
        Button primary
    </button>

    <hr>

    <p class="btn btn-outline-secondary btn-lg">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>