<main>
    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">third title</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-danger">
        Button primary
    </button>

    <hr>

    <p class="btn btn-outline-secondary btn-lg">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

    <hr>

    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/200/100" alt="photo">
        <div class="card-body">
            <h5 class="card-title">product #15367</h5>
            <p>USB hub Type C 12 in 1 HDMI VGA AUX 3.5 mm</p>
            <a href="#">open</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
            <tr>
                <td>624</td>
                <td>john</td>
                <td>624</td>
            </tr>
        </tbody>
    </table>

    <br>

    {{!-- <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title"></h6>
            <p>This is card text</p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Header</div>
    </div> --}}
    <br>
    <br>
    <br>
    <div class="row g-2">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title"></h6>
                    <p>This is card text</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Header</div>
            </div>
        </div>
    </div>
</main>