{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <hr class="my-5">

    <section class="row">
        <h1 class="mb-4 text-center display-6">{{title}}</h1>
        {{#each pagelist}}
        <div class="col-2 my-2">
            <a class="btn btn-lg btn-outline-secondary" href="{{link}}">{{text}}</a>
        </div>
        {{/each}}
    </section>
</main>