<div>
    {{#with program}}
    <div>
        {{#with excursion}}
        <h1>{{name}}</h1>
        <div>
            <h2>
                {{location.city}}
            </h2>
            <h2>
                {{location.country}}
            </h2>
        </div>
        {{/with}}
    </div>
    {{/with}}
</div>