<main class="p-3 m-2">
    {{> shopheader}}
    <section class="row">
        {{#with newsBlock}}
        {{#each cards}}
        <div class="col-md-3">
            <div class="alert alert-dark">
                <h3 class="card-title">{{title}}</h3>
                <p class="text-muted">{{description}}</p>
                {{#if isTop}}
                <div class="text-bg-danger badge rounded-pill">Топ</div>
                {{/if}}
                {{#if isNew}}
                <div class="text-bg-success badge rounded-pill">Нова</div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr>
    <section class="row">
        {{#with goodsBlock}}
        {{#each tabs}}
        <nav class="nav col-2">
            <div class="nav-tabs">
                <div class="nav-item {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled text-muted{{/if}}">
                    <div
                        class="nav-item nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled text-muted{{/if}}">
                        {{text}}
                    </div>
                </div>
            </div>
        </nav>
        {{/each}}
    </section>
    <hr>
    {{>shopcard}}
    {{/with}}
    <hr>
    {{> shopsubscribe}}
    <hr>
    {{> shopaction}}
    <hr>
    {{> shopfooter}}
</main>