<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
        <li class="breadcrumb-item">
            {{#if isDisabled}}
            <a href="" class="text-muted">{{name}}</a>
            {{else}}
            <a href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</nav>