<div class="nav text-end">
    {{#with navigation}}
    {{#each links}}
    <div class="nav-item">
        <a class="nav-link" href="{{href}}">{{text}}</a>
    </div>
    {{/each}}
    <div class="nav-item"></div>
    <a href="#" class="nav-link text-muted disanled">Disabled</a>
    {{/with}}
</div>