<section class="row">
    <table class="">
    <table class="table">
        <tbody>
            {{#each footer}}
            <tr>
                {{#each this}}
                <td>
                    {{#if isDisabled}}
                    <div class="disabled text-muted">{{text}}</div>
                    {{else}}
                    <a href="{{link}}">{{text}}</a>
                    {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>